In [2]:
import pytz
import yaml
import requests
import logging
logger = logging.getLogger('log')
logger.setLevel('INFO')
import os
from dateutil.relativedelta import *
#from datetime import datetime
import datetime
import numpy as np
import pandas as pd

In [3]:
downloadpath = 'downloads1/'
archivepath = 'archive1/'
outputpath = 'output1/'
outputfile = 'output1.csv'
if not os.path.exists(downloadpath): os.makedirs(downloadpath)
if not os.path.exists(outputpath): os.makedirs(outputpath)

In [4]:
conf = """
    ENTSO-E: 
        Data_Portal: 
            url_template: https://www.entsoe.eu/fileadmin/template/other/statistical_database/excel.php
            url_params:
                pid: 136
                opt_period: 0
                opt_Month: ''
                opt_Year: ''
                send: send
                opt_Response: 99
                dataindx: 0
            url_dates:
                opt_Month: '{u_start.month}'
                opt_Year: '{u_start.year}'
            x_Month: '{u_start.month}'
            x_Year: '{u_start.year}'
            frequency: M
            start: 2006-01-01
            end: recent
            filetype: xls           
"""
conf = yaml.load(conf)

In [5]:
def make_url(url_template, filetype, source, tech, start, end, session, url_params):
    """construct URLs from a template, filling in start- and enddates and call download funtion."""    
    filename = source+'_'+tech+'_'+start.strftime('%Y-%m-%d')+'_'+end.strftime('%Y-%m-%d')

    conf['ENTSO-E']['Data_Portal']['url_params']['opt_Month'] = (
        conf['ENTSO-E']['Data_Portal']['x_Month'].format(u_start = start, u_end = end)
        )
    conf['ENTSO-E']['Data_Portal']['url_params']['opt_Year'] = (
        conf['ENTSO-E']['Data_Portal']['x_Year'].format(u_start = start, u_end = end)
        )
    resp = session.get(url_template, params=url_params)
    
    original_filename = resp.headers['content-disposition'].split('filename=')[-1].replace('"','').replace(';','')
    logger.info('Attempting download of: %s \n From URL: %s \n original filename: %s', filename, resp.url, original_filename)
    work_file = downloadpath+filename+'.'+filetype
    if os.path.exists(work_file):
        logger.info('Filename already exists. Skip to next.')
    else:
        with open(work_file, 'wb') as output_file:
            for chunk in resp.iter_content(1024):
                output_file.write(chunk)

In [7]:
for source, tech in conf.items():
    for tech, parameter in tech.items():
        session = requests.session()
        g_start = parameter['start']
#        g_start = datetime.date(2015,12,1)
        if parameter['end'] == 'recent':
            g_end = datetime.date(2015,12,31)
        else:
            g_end = param['end']

        break_dates = pd.date_range(start=g_start, end=g_end, freq=parameter['frequency'])
        for date in break_dates:
            p_start = date.replace(day = 1)
            if parameter['frequency'] == 'M':
                p_end = p_start + relativedelta(months = 1, days = -1)
            if parameter['frequency'] == 'Y':
                p_end = p_start + relativedelta(years = 1, days = -1)
                
            make_url(parameter['url_template'], parameter['filetype'], source, tech, p_start, p_end, session, parameter['url_params'])

INFO:log:Attempting download of: ENTSO-E_Data_Portal_2015-12-01_2015-12-31
 From URL: https://www.entsoe.eu/fileadmin/template/other/statistical_database/excel.php?opt_Month=12&opt_Year=2015&pid=136&send=send&dataindx=0&opt_period=0&opt_Response=99
 original filename: Statistics.xls

In [9]:
def readData(filePath, source, tech):
    data = pd.read_excel(
        io = filePath,
        header=9,
#        skiprows = None,
        index_col = [0,1],
#        parse_cols = None #None means: parse all columns
        )
    
#   #Create a list of the dst-transistion hours
    dst_transition_times = [d.replace(hour=2) for d in pytz.timezone('Europe/Berlin')._utc_transition_times[1:]]
    
    #the original data has days and countries in the rows and hours in the columns.
    #this rearranges the table, mapping hours on the rows and countries on the columns 
    data = data.stack(level=None).unstack(level='Country').reset_index()    
    #pythons DataFrame.stack() puts former columnnames in a new index object named after their level
    data.rename(columns={'level_1': 'raw_hour'}, inplace=True)
    
    #truncate the hours column and replace letters (incating which is which during fall dst-transition)
    #hours are indexed 1-24 rather then 0-23, so we deduct 1
    data['hour'] = (data['raw_hour'].str[:2].str.replace('A','').str.replace('B','').astype(int) - 1).astype(str)    
    data['dt_index'] = pd.to_datetime(data['Day']+' '+data['hour']+':00')
    data.set_index('dt_index', inplace=True)    
    
    # drop 2nd occurence of 03:00 appearing in October data except for autumn dst-transition
    data = data[~((data['raw_hour'] == '3B:00:00') & ~(data.index.isin(dst_transition_times)))]
    #drop 03:00 for (spring) dst-transition. October data is unaffected because the format is 3A:00/3B:00 
    data = data[~((data['raw_hour'] == '03:00:00') & (data.index.isin(dst_transition_times)))]
    
    data.index = data.index.tz_localize('Europe/Berlin', ambiguous='infer')
#    data = data.drop(['Day', 'hour', 'raw_hour'], axis=1, inplace = True)
    data.rename(columns=lambda x: 'load_'+x, inplace=True)
    return data

In [10]:
resultDataSet = pd.DataFrame()
for source, tech in conf.items():
    for tech, param in tech.items():
        for filename in os.listdir(downloadpath):
            if source in filename and tech in filename:
                logger.info('reading %s', filename)
                dataToAdd = readData(downloadpath + filename, source, tech)
                resultDataSet = resultDataSet.combine_first(dataToAdd)

INFO:log:reading ENTSO-E_Data_Portal_2015-12-01_2015-12-31.xls

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [11]:
resultDataSet

Country,load_Day,load_raw_hour,load_CH,load_CZ,load_DK,load_HR,load_IS,load_NO,load_PT,load_SK,load_hour
dt_index,,,,,,,,,,,
2015-12-01 00:00:00+01:00,2015-12-01,01:00:00,6629,6914,3325,1654,2107,16166,5677,3153,0
2015-12-01 01:00:00+01:00,2015-12-01,02:00:00,6784,6934,3243,1503,2085,15908,5203,3039,1
2015-12-01 02:00:00+01:00,2015-12-01,03:00:00,6787,6789,3218,1428,2073,15601,4940,2971,2
2015-12-01 03:00:00+01:00,2015-12-01,04:00:00,6872,6731,3226,1412,2066,15646,4772,2985,3
2015-12-01 04:00:00+01:00,2015-12-01,05:00:00,6774,6836,3282,1444,2062,15770,4634,3060,4
2015-12-01 05:00:00+01:00,2015-12-01,06:00:00,6796,7334,3526,1613,2068,16260,4695,3262,5
2015-12-01 06:00:00+01:00,2015-12-01,07:00:00,7487,8457,4423,1997,2101,17711,4834,3674,6
2015-12-01 07:00:00+01:00,2015-12-01,08:00:00,8464,8866,5193,2203,2159,19494,5230,3833,7
2015-12-01 08:00:00+01:00,2015-12-01,09:00:00,8787,8983,5175,2317,2212,20120,5775,3917,8
2015-12-01 09:00:00+01:00,2015-12-01,10:00:00,8755,9033,5293,2336,2251,19921,6696,3973,9
2015-12-01 10:00:00+01:00,2015-12-01,11:00:00,8807,8956,5288,2305,2223,19631,6959,3900,10
2015-12-01 11:00:00+01:00,2015-12-01,12:00:00,8931,8940,5237,2328,2231,19223,7002,3896,11
2015-12-01 12:00:00+01:00,2015-12-01,13:00:00,8476,9079,5094,2310,2242,18954,7068,3894,12
2015-12-01 13:00:00+01:00,2015-12-01,14:00:00,8430,9042,5119,2232,2250,18828,6780,3911,13
2015-12-01 14:00:00+01:00,2015-12-01,15:00:00,8295,9069,5045,2185,2246,19055,6800,3925,14
2015-12-01 15:00:00+01:00,2015-12-01,16:00:00,8227,9261,5002,2172,2247,19510,6849,3951,15
2015-12-01 16:00:00+01:00,2015-12-01,17:00:00,8429,9504,5190,2388,2250,19995,6831,4106,16
2015-12-01 17:00:00+01:00,2015-12-01,18:00:00,8721,9437,5496,2560,2248,19903,7014,4086,17
2015-12-01 18:00:00+01:00,2015-12-01,19:00:00,8737,9106,5259,2533,2242,19671,7490,3988,18
2015-12-01 19:00:00+01:00,2015-12-01,20:00:00,8372,9048,4932,2519,2216,19513,7530,3989,19
2015-12-01 20:00:00+01:00,2015-12-01,21:00:00,7900,8773,4571,2434,2197,19017,7567,3877,20
2015-12-01 21:00:00+01:00,2015-12-01,22:00:00,7539,8219,4251,2388,2179,18559,7286,3665,21
2015-12-01 22:00:00+01:00,2015-12-01,23:00:00,7284,7705,3882,2179,2114,17805,6961,3480,22
2015-12-01 23:00:00+01:00,2015-12-01,24:00:00,6881,7209,3668,1900,2125,16723,6454,3326,23
2015-12-02 00:00:00+01:00,2015-12-02,01:00:00,6627,6926,3429,1771,2101,16144,5711,3169,0
2015-12-02 01:00:00+01:00,2015-12-02,02:00:00,6655,6987,3221,1616,2084,15892,5273,3070,1
2015-12-02 02:00:00+01:00,2015-12-02,03:00:00,6574,6822,3045,1545,2077,15700,4995,2992,2
2015-12-02 03:00:00+01:00,2015-12-02,04:00:00,6562,6748,3061,1527,2070,15768,4768,3000,3
2015-12-02 04:00:00+01:00,2015-12-02,05:00:00,6389,6829,3303,1563,2060,15923,4730,3083,4
2015-12-02 05:00:00+01:00,2015-12-02,06:00:00,6914,7376,3570,1718,2075,16213,4732,3275,5
...,...,...,...,...,...,...,...,...,...,...,...
2015-12-30 18:00:00+01:00,2015-12-30,19:00:00,7931,7640,4907,2575,2184,18450,6717,3470,18
2015-12-30 19:00:00+01:00,2015-12-30,20:00:00,7659,7505,4606,2565,2167,18108,6792,3435,19
2015-12-30 20:00:00+01:00,2015-12-30,21:00:00,7290,7365,4317,2497,2156,17628,6806,3370,20
2015-12-30 21:00:00+01:00,2015-12-30,22:00:00,7114,7045,4062,2489,2142,17142,6517,3232,21
2015-12-30 22:00:00+01:00,2015-12-30,23:00:00,7029,6680,3785,2330,2125,16512,6158,3111,22
2015-12-30 23:00:00+01:00,2015-12-30,24:00:00,7102,6287,3483,2061,2101,15995,5803,2960,23
2015-12-31 00:00:00+01:00,2015-12-31,01:00:00,6858,5981,3225,1793,2078,15464,5258,2820,0
2015-12-31 01:00:00+01:00,2015-12-31,02:00:00,7042,5967,3053,1766,2054,15165,4782,2691,1
2015-12-31 02:00:00+01:00,2015-12-31,03:00:00,6973,5889,2984,1732,2046,14894,4451,2626,2
2015-12-31 03:00:00+01:00,2015-12-31,04:00:00,6794,5706,3023,1686,2039,14798,4183,2602,3
2015-12-31 04:00:00+01:00,2015-12-31,05:00:00,6611,5666,3118,1706,2039,14744,4100,2660,4
2015-12-31 05:00:00+01:00,2015-12-31,06:00:00,6747,5803,3237,1798,2041,14983,4086,2740,5
2015-12-31 06:00:00+01:00,2015-12-31,07:00:00,6559,6025,3350,1805,2046,15516,4042,2825,6
2015-12-31 07:00:00+01:00,2015-12-31,08:00:00,6522,6210,3579,1971,2060,16302,4314,2892,7
2015-12-31 08:00:00+01:00,2015-12-31,09:00:00,6764,6511,3805,2167,2083,16897,4476,3047,8
2015-12-31 09:00:00+01:00,2015-12-31,10:00:00,7044,6919,4057,2271,2107,17437,5000,3206,9
2015-12-31 10:00:00+01:00,2015-12-31,11:00:00,7170,7212,4189,2295,2114,17915,5385,3287,10
2015-12-31 11:00:00+01:00,2015-12-31,12:00:00,7069,7211,4239,2279,2127,18270,5584,3313,11
2015-12-31 12:00:00+01:00,2015-12-31,13:00:00,7498,7086,4251,2217,2134,18511,5628,3233,12
2015-12-31 13:00:00+01:00,2015-12-31,14:00:00,7360,7035,4297,2157,2139,18494,5607,3280,13
2015-12-31 14:00:00+01:00,2015-12-31,15:00:00,7350,7031,4304,2139,2147,18679,5453,3242,14
2015-12-31 15:00:00+01:00,2015-12-31,16:00:00,7001,7131,4412,2175,2156,18940,5440,3215,15
2015-12-31 16:00:00+01:00,2015-12-31,17:00:00,7139,7279,4710,2415,2183,19085,5335,3320,16
2015-12-31 17:00:00+01:00,2015-12-31,18:00:00,7467,7297,4904,2667,2193,18935,5372,3355,17
2015-12-31 18:00:00+01:00,2015-12-31,19:00:00,7373,6996,4668,2651,2163,18399,6175,3260,18
2015-12-31 19:00:00+01:00,2015-12-31,20:00:00,7089,6719,4202,2551,2121,17551,6308,3158,19
2015-12-31 20:00:00+01:00,2015-12-31,21:00:00,6988,6468,3878,2386,2106,16926,6024,3073,20
2015-12-31 21:00:00+01:00,2015-12-31,22:00:00,6868,6329,3719,2272,2070,16458,5447,2997,21
2015-12-31 22:00:00+01:00,2015-12-31,23:00:00,6906,6171,3556,2130,2076,16155,5111,2971,22
2015-12-31 23:00:00+01:00,2015-12-31,24:00:00,6897,6040,3424,1973,2067,15756,4960,2934,23

In [649]:
resultDataSet.to_csv(outputpath+outputfile, sep=';', float_format='%.2f', decimal=',')